<!-- meal-list.component.html -->
<div class="container mx-auto px-4 py-6">
  <h2 class="text-2xl font-bold mb-4">Meal List</h2>
  <ul class="space-y-4">
    <li *ngIf="!(meals$ | async)" class="text-center py-6">Loading...</li>
    <li *ngFor="let meal of meals$ | async">
      <app-meal-list-item
        [meal]="meal"
        (delete)="deleteMeal($event)"
      ></app-meal-list-item>
    </li>
  </ul>
  <div class="mt-6">
    <a
      [routerLink]="['/meal/add']"
      class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400"
      >Add New Meal</a
    >
  </div>
</div>
