<form [formGroup]="mealForm" (ngSubmit)="onSubmit()">
  <label for="mealName">Meal Name:</label>
  <input id="mealName" formControlName="mealName" type="text" />
  <div
    *ngIf="
      mealForm.get('mealName')?.invalid && mealForm.get('mealName')?.touched
    "
  >
    Meal Name is required.
  </div>

  <label for="calories">Calories:</label>
  <input id="calories" formControlName="calories" type="number" />
  <div
    *ngIf="
      mealForm.get('calories')?.invalid && mealForm.get('calories')?.touched
    "
  >
    Valid calorie amount is required.
  </div>

  <label for="date">Date:</label>
  <input id="date" formControlName="date" type="date" />
  <div *ngIf="mealForm.get('date')?.invalid && mealForm.get('date')?.touched">
    Date is required.
  </div>

  <label for="description">Description:</label>
  <input id="description" formControlName="description" type="text" />
  <div
    *ngIf="
      mealForm.get('description')?.invalid &&
      mealForm.get('description')?.touched
    "
  >
    Description is required.
  </div>

  <label for="ingredients">Ingredients:</label>
  <input id="ingredients" formControlName="ingredients" type="text" />
  <div
    *ngIf="
      mealForm.get('ingredients')?.invalid &&
      mealForm.get('ingredients')?.touched
    "
  >
    Ingredients are required.
  </div>

  <button type="submit">Submit</button>
</form>
