<nav class="bg-gray-800 p-4 flex justify-between items-center">
  <div class="text-white text-2xl font-bold">
    <a routerLink="/">FoodMate</a>
  </div>
  <div>
    <ng-container *ngIf="user$ | async as user; else showLogin">
      <div class="relative">
        <img
          class="h-8 w-8 rounded-full cursor-pointer"
          [src]="user.photoURL || 'https://via.placeholder.com/150'"
          alt="User Avatar"
          (click)="toggleDropdown()"
        />
        <div
          *ngIf="dropdownOpen"
          class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1"
        >
          <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100"
            >Profile</a
          >
          <a
            href="#"
            (click)="logout()"
            class="block px-4 py-2 text-gray-700 hover:bg-gray-100"
            >Logout</a
          >
        </div>
      </div>
    </ng-container>
    <ng-template #showLogin>
      <a routerLink="/auth/login" class="text-white">Login</a>
    </ng-template>
  </div>
</nav>
